body {
	min-height: 750px;
	background-color: black;
	text-align: center;
	width: 1560px;
	margin: auto auto;
}

.header {
	width: 100%;
	text-align: left;
	margin-top: -10px;
	border-radius: 5px;
	border: 1px solid gray;
	height: 100px;
	background: url("../images/header4.jpg") no-repeat;
	background-size: cover;
}

.logo {
	width: 100%;
	margin-left: 20px;
	margin-top: 10px;
}

.menu {
	width: 100%;
	text-align: left;
	background-color: white;
	border-radius: 5px;
	border: 1px solid gray;
}

.content {
	width: 100%;
	text-align: left;
	background-color: white;
	border-radius: 5px;
	border: 1px solid gray;
	min-height: 625px;
}

.footer {
	width: 100%;
	background-color: white;
	border-radius: 5px;
	border: 1px solid gray;
	line-height: 0px;
	height: 30px;
}

.excelContainer {
	float: right;
	margin-right: 10px;
}

.buttons-container-bottom-right {
	float: right;
}

.buttons-container-bottom-right a {
	margin: 10px 5px;
}

.button-link {
	min-width: 100px;
	display: inline-block;
	text-align: center;
	padding: 5px 10px;
	background: #4479BA;
	color: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #20538D;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
		rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
		rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px
		rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
}

.button-link:hover {
	background: #356094;
	border: solid 1px #2A4E77;
	text-decoration: none;
}

.button-link:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
	background: #2E5481;
	border: solid 1px #203E5F;
}

/* for tables */
.pure-table {
	/* Remove spacing between table cells (from Normalize.css) */
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	border: 1px solid #cbcbcb;
	font-size: 14px;
}

.pure-table td, .pure-table th {
	border-left: 1px solid #cbcbcb; /*  inner column border */
	border-width: 0 0 0 1px;
	font-size: inherit;
	margin: 0;
	overflow: visible; /*to make ths where the title is really long work*/
	padding: 2px 5px; /* cell padding */
}

.pure-table thead {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

/* HORIZONTAL BORDERED TABLES */
.pure-table-horizontal td, .pure-table-horizontal th {
	border-width: 0 0 1px 0;
	border-bottom: 1px solid #cbcbcb;
}

.even {
	background: #aad4ff;
}

.odd {
	background: #ffffff;
}

/* Login form */
.lg-container {
	width: 50%;
	margin: 100px auto;
	padding: 20px 40px;
	border: 1px solid #f4f4f4;
	background: rgba(160, 160, 255, .5);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0 0 2px #aaa;
	-webkit-box-shadow: 0 0 2px #aaa;
	-moz-box-shadow: 0 0 2px #aaa;
}

.lg-container h1 {
	font-size: 40px;
	text-align: center;
}

#lg-form>div {
	margin: 10px 5px;
	padding: 5px 0;
}

#lg-form label {
	display: none;
	font-size: 20px;
	line-height: 25px;
}

#lg-form input[type="text"], #lg-form input[type="password"] {
	border: 1px solid rgba(51, 51, 51, .5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px;
	font-size: 16px;
	line-height: 20px;
	width: 100%;
	/* font-family: 'Oleo Script', cursive; */
	text-align: center;
}

#lg-form div:nth-child(3) {
	text-align: center;
}

#lg-form button {
	/* font-family: 'Oleo Script', cursive; */
	font-size: 18px;
	border: 1px solid #000;
	padding: 5px 10px;
	border: 1px solid rgba(51, 51, 51, .5);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 1px 1px #aaa;
	-moz-box-shadow: 2px 1px 1px #aaa;
	box-shadow: 2px 1px 1px #aaa;
	cursor: pointer;
}

#lg-form button:active {
	-webkit-box-shadow: 0px 0px 1px #aaa;
	-moz-box-shadow: 0px 0px 1px #aaa;
	box-shadow: 0px 0px 1px #aaa;
}

#lg-form button:hover {
	background: #f4f4f4;
}

/* For Survey Option Verical Heading */
th.rotate {
	/* Something you can count on */
	height: 140px;
	white-space: nowrap;
}

th.rotate>div {
	transform: translate(5px, 50px) rotate(300deg); /*  45 degree rotation*/
	width: 30px;
}

th.rotate>div>span {
	border-bottom: 1px solid #ccc;
	padding: 5px 5px;
}

.option {
	padding: 5px;
}

/* For survey table */
.survey-table {
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #000000;
	-moz-border-radius-bottomleft: 14px;
	-webkit-border-bottom-left-radius: 14px;
	border-bottom-left-radius: 14px;
	-moz-border-radius-bottomright: 14px;
	-webkit-border-bottom-right-radius: 14px;
	border-bottom-right-radius: 14px;
	-moz-border-radius-topright: 14px;
	-webkit-border-top-right-radius: 14px;
	border-top-right-radius: 14px;
	-moz-border-radius-topleft: 14px;
	-webkit-border-top-left-radius: 14px;
	border-top-left-radius: 14px;
}

.survey-table table {
	width: 97%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.survey-table tr:last-child td:last-child {
	-moz-border-radius-bottomright: 14px;
	-webkit-border-bottom-right-radius: 14px;
	border-bottom-right-radius: 14px;
}

.survey-table table tr:first-child td:first-child {
	-moz-border-radius-topleft: 14px;
	-webkit-border-top-left-radius: 14px;
	border-top-left-radius: 14px;
}

.survey-table table tr:first-child td:last-child {
	-moz-border-radius-topright: 14px;
	-webkit-border-top-right-radius: 14px;
	border-top-right-radius: 14px;
}

.survey-table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 14px;
	-webkit-border-bottom-left-radius: 14px;
	border-bottom-left-radius: 14px;
}

.survey-table td {
	vertical-align: middle;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 7px;
}

.survey-table tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.survey-table tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.survey-table tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

.survey-table tr:first-child td {
	border: 0px solid #000000;
	border-width: 0px 0px 1px 1px;
}

.survey-table tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.survey-table tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}

/* css for link survey page */
#questionSetListView {
	display: inline-block;
	width: 25%;
	margin: 5px 0px;
}

/* For Error messages */
.errorFeedback {
	border: 1px solid red !important;
}

/* For Notification messages */
.notification-container-validation {
	position: fixed;
	top: 300px;
	left: 50%;
	width: 800px;
	margin-top: auto;
	margin-left: -400px;
	mar
}

.notification-container {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 70%;
	height: auto;
	margin-top: auto;
	margin-left: -35%;
}

.notification-info, .notification-success, .notification-warning,
	.notification-error {
	border: 1px solid;
	margin: 10px 0px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.notification-info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../images/icons/info.png');
	cursor: pointer;
}

.notification-success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url('../images/icons/success.png');
	cursor: pointer;
}

.notification-warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/icons/warning.png');
	cursor: pointer;
}

.notification-error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/icons/error.png');
	cursor: pointer;
}

.notification-validation {
	border: 1px solid;
	background-position: 10px center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #D63301;
	background-color: #FFCCBA;
	background-image: url('../images/icons/validation.png');
	background-repeat: no-repeat;
	text-align: left;
}

.notification-validation li {
	list-style: none;
	margin-left: 20px;
}

.inline-bar, .inline-bar div, .inline-bar label {
	display: inline-block;
	float: left;
	padding: 2px 0px;
}

/* pagination */
.pagination-bar {
	display: inline-block;
	margin: auto;
}

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 5px 0;
	border-radius: 4px;
}

.pagination>li {
	display: inline;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 8px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #ffffff;
	background-color: #3a3f44;
	border: 1px solid rgba(0, 0, 0, 0.6);
	margin-left: -1px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus,
	.pagination>li>span:focus {
	color: #000000;
	background-color: transparent;
	border-color: rgba(0, 0, 0, 0.6);
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	z-index: 2;
	color: #000000;
	background-color: #232628;
	border-color: rgba(0, 0, 0, 0.6);
	cursor: default;
}

.pagination>.disabled>span, .pagination>li>span.disabled, .pagination>.disabled>span:hover,
	.pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover,
	.pagination>.disabled>a:focus {
	color: #7a8288;
	background-color: #ffffff;
	border-color: rgba(0, 0, 0, 0.6);
	cursor: not-allowed;
}

.pg-next {
	background-image: url('../images/icons/next.png');
	background-repeat: no-repeat;
}

.pg-previous {
	background-image: url('../images/icons/previous.png');
	background-repeat: no-repeat;
}

.pg-first {
	background-image: url('../images/icons/first.png');
	background-repeat: no-repeat;
}

.pg-last {
	background-image: url('../images/icons/last.png');
	background-repeat: no-repeat;
}

/* Overlay */
.overlay {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	text-align: center;
	/* IE filter */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5; /* Mozilla extension */
	-khtml-opacity: 0.5; /* Safari/Conqueror extension */
	opacity: 0.5; /* CSS3 */
	z-index: 9999999;
	background-color: white;
	display: none;
}

.overlay img {
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}